.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4e1e1d8;
    min-width: 120px;
    box-shadow: rgba(0, 0, 0, 0.835);
    z-index: 1000;
  }
  
  .dropdown-content a {
    color: rgba(0, 0, 0, 0.74);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgba(51, 49, 49, 0.511);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  * {box-sizing: border-box;}


.search-container {
  float: right;
}

/* Style the input field inside the navbar */
.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

/* Style the button inside the input container */
.search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

a{
  padding-left: 10px;
  padding-right: 10px;
}

.mediabox{
  display: inline-block;
  padding: 20px;
  height: 450px;
}

.allmedia{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}


th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
body {
  background-color: rgba(4, 4, 4, 0.844);
  color: rgb(239, 243, 248);
}